@import "../../common/variables";

.breadcrumbs {
  display   : flex;
  width     : 100%;
  flex-flow : row nowrap;
}

.breadcrumbs__item {
  font-style : italic;
}

.breadcrumbs__link {
  color : $color-blue;
  &:after {
    content : "/";
    margin  : 0 5px;
  }
}