@import "../../common/variables";

.header {
  background-color : $color-dark-blue;
}

.header__inner {
  display         : flex;
  width           : 100%;
  align-items     : center;
  justify-content : space-between;
  padding         : 10px 0;
}

.header__button {
  background-color : transparent;
  transition       : background-color 0.2s, color 0.2s;
  color            : $color-green;
  border           : 1px solid $color-green;
  border-radius    : $border-radius;
  padding          : 10px 12px;
  text-transform   : capitalize;
  font-size        : 0.9rem;
}

.header__button:active {
  background-color : $color-green;
  color            : black;
}

.header__button-text {
  vertical-align : middle;
  font-size      : 1em;
}

.header__icon {
  display        : none;
  color          : white;
  font-size      : 1.3em;
  margin-right   : 10px;
  vertical-align : middle;
}

@media screen and (min-width : 400px) {
  .header__icon {
    transition : color 0.2s;
    display    : inline-block;
  }
}

@media screen and (min-width : 768px) {
  .header__button {
    font-size : 1rem;
  }
}

@media screen and (min-width : 1025px) {
  .header__button:hover {
    background-color : $color-green;
    color            : black;

    .header__icon {
      color : black;
    }
  }
}