@import "../../common/variables";

.navigation {
  background-color : $color-blue;
  border           : 2px solid $color-blue;
}

.navigation__inner {
  display         : flex;
  width           : 100%;
  align-items     : center;
  justify-content : space-between;
}

.navigation__image {
  height         : 40px;
  width          : auto;
  vertical-align : top;
}

.navigation__icon {
  color        : white;
  font-size    : 1.6rem;
  cursor       : pointer;
  margin-right : 20px;
  width        : 100%;
}

.navigation__icon--close {
  position : absolute;
  right    : 20px;
  top      : 20px;
  width    : auto;
}

.navigation__menu {
  width      : 100%;
  height     : 100%;
  position   : fixed;
  top        : 0;
  transition : left 0.2s;
  left       : -100%;
}

.navigation__menu--active {
  left : 0;
}

@media screen and (min-width : 992px) {
  .navigation__icon {
    width : auto;
  }

  .navigation__icon--burger {
    display : none;
  }

  .navigation__icon--close {
    display : none;
  }

  .navigation__menu {
    position : static;
    height   : auto;
  }
}