@import "../../common/variables";

.logo {
  font-size   : 0;
  font-family : 'Hind', sans-serif;
}

.logo__text {
  font-size      : 1.3rem;
  color          : white;
  text-transform : capitalize;
}

.logo__text--footer {
  font-size : 1.1rem;
}

.logo__text--green {
  color : $color-green;
}

@media screen and (min-width : 768px) {
  .logo__text {
    letter-spacing : -2px;
    font-size      : 2.5rem;
  }
}