@import "../../common/variables";

.menu {
  display          : flex;
  width            : 100%;
  height           : 100%;
  flex-flow        : column nowrap;
  background-color : $color-blue;
  justify-content  : center;
  align-items      : center;
}

.menu__item {
  padding : 10px;
}

.menu__link {
  color : white;

  &:focus, &:visited {
    color : white;
  }
}

@media screen and (min-width : 992px) {
  .menu {
    flex-flow        : row nowrap;
    height           : auto;
    background-color : transparent;
    justify-content  : flex-start;
  }

  .menu__item {
    margin-right : 15px;
    font-size    : 0.9rem;
    padding      : 0;

    &:last-child {
      margin-right : 0;
    }
  }
}

@media screen and (min-width : 1100px) {
  .menu__item {
    margin-right : 20px;
    font-size    : 1rem;
  }
}

@media screen and (max-height: 310px){
  .menu__item {
    padding : 5px;
  }
}